{
  "presets": [
    [
      "@oigroup/babel-preset-lightscript",
      {
        "stdlib": true,
        "bangCall": false,
        "safeCall": false,
        "existential": true,
        "noEnforcedSubscriptIndentation": true,
        "useRequire": false,
        "flippedImports": false,
        "disableJsx": false,
        "disableFlow": false,
        "placeholderArgs": false
      }
    ]
  ]
}
